<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px">
            @for (tile of tiles; track tile) {
            <mat-grid-tile>
                <mat-card class="cardWithShadow theme-card">
                    <mat-card-content class="b-t-0">
                        <div (click)="openImage(tile)">
                            <img mat-card-image class="img" [src]="tile.src" [width]="tile.width"
                                [height]="tile.height">
                        </div>
                        <div class="d-flex align-items-center justify-content-center m-t-24">
                            <div class="d-flex align-items-center">
                                <span class="m-r-12 f-s-14 d-flex align-items-center"><i-tabler name="eye"
                                        class="icon-18 m-r-4"></i-tabler>{{ tile.viewNr }}</span>
                            </div>
                            <span class="m-l-auto d-flex align-items-center">
                                @for(rating of ratings;track rating){
                                <mat-icon class="star-rating">
                                    star
                                </mat-icon>
                                }
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </mat-card-content>
</mat-card>