.fb-icon:hover{
    color: blue;
}

.fb-icon{
    transform: translateY(5px);
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; // Adjust the width as needed
}
